*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

#root {
 width: 100vw;
 height: 100vh;
 font-family: Arial, Helvetica, sans-serif;
}

.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/Nuages.gif);
  background-repeat: no-repeat;
  background-size: 100vmax 100vmax;
  
}
.card-clima{
 
  width: 90vmin;
  height: 90vmin;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 2px 8px gray;
  border-radius: 10px;
 background: rgba(3, 5, 97, 0.349);
}
h3, h4, h5{
  color: rgb(255, 255, 255);
  
}
.title{
  text-align: center;
  font-size: 4vmin;
  
}
.sub-title,.scattered{
  text-align: center;
  font-size: 3vmin;
}
.item{
  font-size: 3vmin;
}

.image{
  width: 40%;
  text-align: center;
  margin: auto;
}

.description{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

.contatiner-information{
  display: flex;
  height: 60%;
  
}
.wind-speed{
  display: flex;
  gap: 5px;
}
p{
  font-size: 3vmin;
}

.temperature{
  font-size: 5vmin;
}
.button{
  width: 45%;
  height: 10%;
  margin: 0 auto;
  font-size: 3vmin;
  background: rgba(102, 51, 153, 0.329);
  border-radius: 10px;
  display: flex;
  gap: 5vmin;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 2px 2px 8px grey;
  border: none;
  transition: all 0.5s linear;
}
.button:hover{
  background: rgba(248, 11, 248, 0.192);
  box-shadow: 2px 2px 8px rgb(133, 130, 130);
  width: 60%;
  height: 10%;
  font-size: 4vmin;
}

.imag-icon{
  width: 12%;
}

.icon-button{
  width: 15%;
}